.dashboard_header {
    border-bottom: 2px solid rgb(211, 211, 211);
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .dashboard_header_title {
      color: rgb(66, 64, 64);
  }
  
  .dashboard_header_section {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    cursor: pointer;
  }
  
  .profile_image_container {
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
  }
  
  .profile_image {
    width: 40%;
    height: 70%;
    border-radius: 50%;
  }